/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace,Arial, sans-serif;
    background-color: #333;

}

/* Header styles */
header {
    font-family:'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

/* Content styles */
.content {
    scroll-padding: 10px;
    font-size: 20px;
    display: flex;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    flex: 1 100%;
    border-radius: 10px;
    line-height: 1.3;
}

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

p{
    color: #fff;
}

.content,
p {
    user-select: none;
}

